* {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
}

/* flex 缁勫悎鏍峰紡 */
.row {
	display: flex;
	flex-direction: row;
}

.row-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.column-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.column-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.column-end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.column {
	display: flex;
	flex-direction: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

.row-center {
	justify-content: center;
	align-items: center;
}

.row-around {
	justify-content: space-around;
	align-items: center;
}

.row-between {
	justify-content: space-between;
	align-items: center;
}

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.flex-around {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

/*榧犳爣绉诲叆鍙樻墜*/
.div-hover:hover {
	cursor: pointer;
}

/*鍒嗗壊绾� 鐧借壊*/
.CuttingLine-white {
	width: 1px;
	height: 10px;
	background: white;
	margin-right: 10px;
}

/*鍒嗗壊绾� 榛戣壊*/
.CuttingLine-black {
	width: 1px;
	height: 10px;
	background: black;
	margin-left: 10px;
	margin-right: 10px;
}

.form-div {
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

.form-div>div {
	margin-right: 20px;
	margin-bottom: 10px;
}

.form-data {
	
}

.form-data>p:first-child {
	font-size: 12px;
	color: #515a6e;
	margin-right: 10px;
}

.gd-input {
	display: inline-block;
	width: 100%;
	height: 32px;
	line-height: 1.5;
	padding: 4px 4px;
	font-size: 12px;
	border: 1px solid #dcdee2;
	border-radius: 4px;
	color: #515a6e;
	background-color: #fff;
	background-image: none;
	position: relative;
	cursor: text;
	transition: border .2s ease-in-out, background .2s ease-in-out,
		box-shadow .2s ease-in-out;
}

.ivu-btn {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 5px 15px 5px;
	font-size: 12px;
	border-radius: 4px;
	transition: color .2s linear, background-color .2s linear, border .2s
		linear, box-shadow .2s linear;
	color: #515a6e;
	background-color: #fff;
	border-color: #dcdee2;
	letter-spacing: 1px;
	outline: none;
}

.ivu-btn-primary {
	color: #fff;
	background-color: #2d8cf0;
	border-color: #2d8cf0;
}

.ivu-btn-info {
	color: #fff;
	background-color: #2db7f5;
	border-color: #2db7f5;
}

.ivu-btn-success {
	color: #fff;
	background-color: #19be6b;
	border-color: #19be6b;
}

.ivu-btn-warning {
	color: #fff;
	background-color: #f90;
	border-color: #f90;
}

.ivu-btn-error {
	color: #fff;
	background-color: #ed4014;
	border-color: #ed4014;
}

.ivu-btn-over {
	color: #fff;
	background-color: #c5c8ce;
	border-color: #c5c8ce;
}

.ivu-btn-res>>div>button {
	width: 100%;
	height: 40px;
	border-radius: 5px;
	border: none;
	border: 1px solid #dcdee2;
	padding: 10px;
	background: #0F4FA0;
	color: white;
	letter-spacing: 10px;
}
/** 搴曢儴閫氱敤鏍峰紡**/
.home-bottom-div {
	width: 100%;
	min-height: 165px;
	padding: 10px;
	background: url(../img/home/home-7.png);
	background-size: 100% 100%;
}

.home-bottom-div>div {
	width: 1040px;
}

@media screen and (max-width:1040px) {
	.home-bottom-div>div {
		width: 95%;
	}
}

.home-bottom-div-3 {
	width: 80%;
}

.home-bottom-div-3>ul {
	height: 124px;
	list-style: none;
	font-size: 12px;
	font-family: SourceHanSansSC-Regular;
	font-weight: 400;
	color: rgba(255, 255, 255, 1);
}

.home-bottom-div-3>ul>li {
	margin-bottom: 6px;
}

.home-bottom-div-3>ul>li:first-child {
	margin-bottom: 15px;
}

.position-fixed {
	position: absolute;
	top: -100px;
	right: 10%;
}

.home-bottom-div-2 {
	width: 100%;
	height: 50px;
	background: rgba(37, 37, 37, 1);
	font-size: 12px;
	font-family: SourceHanSansSC-Regular;
	font-weight: 400;
	color: rgba(153, 153, 153, 1);
}

/** 涓嬫媺鑿滃崟閫氱敤鏍峰紡 **/
.dropdown-menu {
	min-width: 100px;
}

.dropdown-menu>li {
	width: 90%;
	height: 30px;
	margin: auto;
	margin-bottom: 5px;
	font-size: 12px;
	border-bottom: 1px solid #e8eaec;
	transition: color .2s linear, background-color .5s linear, border .2s
		linear, box-shadow .2s linear;
}

.dropdown-menu>li:last-child {
	border-bottom: none;
	margin-bottom: 0px;
}

.dropdown-menu>li:hover {
	cursor: pointer;
	color: #23398FFF;
}

.p-hover:hover {
	cursor: pointer;
}

.p_error {
	width: 100%;
	color: red;
	font-size: 12px;
	text-align: left;
}

.form-model {
	width: 500px;
	margin: auto;
}

.form-model-div {
	width: 95%;
	min-height: 55px;
}

.form-p {
	font-size: 12px;
	color: #464c5b;
	font-weight: bold;
	margin-right: 10px;
}

.form-span {
	content: '*';
	color: red;
	margin-right: 5px;
}

.form-input-parent {
	width: 100%;
	position: relative;
}

.form-message {
	font-size: 12px;
	letter-spacing: 1px;
	color: red;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 2px;
	font-family: Small Head;
}