
input[type="radio"], input[type="checkbox"] {
    margin: 0px;
  
}

.gd-table {
	border: 1px solid #dcdee2;
}

.gd-table-div {
	width: 100%;
	overflow: auto;
}

.gd-table {
	width: 100%;
	border: 1px solid #dcdee2;
	border-bottom: none;
	color: #515a6e;
	font-size: 12px;
}

.gd-table>tbody>tr>th>div {
	min-height: 40px;
	background-color: #f8f8f9;
}

.gd-table>tbody>tr>td>div {
	min-height: 50px;
}

.gd-table>tbody>tr {
	display: table-row;
	border-bottom: 1px solid #dcdee2;
}

.gd-table>tbody>tr>th {
	border-right: 1px solid #dcdee2;
}

.gd-table>tbody>tr>th:last-child {
	border-bottom: none;
}

.gd-table>tbody>tr>td {
	display: table-cell;
	border-right: 1px solid #dcdee2;
}

.gd-table>tbody>tr>td:last-child {
	border-bottom: none;
}

.operation-but {
	margin-right: 5px;
}

.overflow-div {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}