* {
	padding: 0;
	margin: 0;
}
html,body{
	background: #F5F7F9;
}

p {
	margin: 0;
}
.p-hover:hover{
	cursor: pointer;
}

/* flex 缁勫悎鏍峰紡 */
.row {
	display: flex;
	flex-direction: row;
}

.row-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.column-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.column-start {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.column-end {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.column {
	display: flex;
	flex-direction: column;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-center {
	justify-content: center;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

.align-start {
	align-items: flex-start;
}

.align-end {
	align-items: flex-end;
}

.align-center {
	align-items: center;
}

.align-baseline {
	align-items: baseline;
}

.row-center {
	justify-content: center;
	align-items: center;
}

.row-around {
	justify-content: space-around;
	align-items: center;
}

.row-between {
	justify-content: space-between;
	align-items: center;
}

.flex-between {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.flex-start {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.flex-end {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.flex-around {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}

.flex-wrap {
	flex-wrap: wrap;
}

/*榧犳爣绉诲叆鍙樻墜*/
.div-hover:hover {
	cursor: pointer;
}

/*鍒嗗壊绾� 鐧借壊*/
.CuttingLine-white {
	width: 1px;
	height: 10px;
	background: white;
	margin-right: 10px;
}

/*鍒嗗壊绾� 榛戣壊*/
.CuttingLine-black {
	width: 1px;
	height: 10px;
	background: black;
	margin-left: 10px;
	margin-right: 10px;
}
.form-div{
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.form-div>div{
	margin-right: 20px;
	margin-bottom: 10px;
}
.form-data{
	
}
.form-data>p:first-child {
	font-size: 12px;
	color: #515a6e;
	margin-right: 10px;
}

.gd-input {
	display: inline-block;
	width: 100%;
	height: 32px;
	line-height: 1.5;
	padding: 4px 7px;
	font-size: 12px;
	border: 1px solid #dcdee2;
	border-radius: 4px;
	color: #515a6e;
	background-color: #fff;
	background-image: none;
	position: relative;
	cursor: text;
	transition: border .2s ease-in-out, background .2s ease-in-out, box-shadow .2s ease-in-out;
}

.ivu-btn{
	padding: 0px;
	margin: 0px;
	display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5px 15px 5px;
    font-size: 12px;
    border-radius: 4px;
    transition: color .2s linear,background-color .2s linear,border .2s linear,box-shadow .2s linear;
    color: #515a6e;
    background-color: #fff;
    border-color: #dcdee2;
	letter-spacing: 1px;
	outline: none;
}

.ivu-btn-primary {
    color: #fff;
    background-color: #2d8cf0;
    border-color: #2d8cf0;
}

.ivu-btn-info {
    color: #fff;
    background-color: #2db7f5;
    border-color: #2db7f5;
}
.ivu-btn-success {
    color: #fff;
    background-color: #19be6b;
    border-color: #19be6b;
}
.ivu-btn-warning {
    color: #fff;
    background-color: #f90;
    border-color: #f90;
}

.ivu-btn-error {
    color: #fff;
    background-color: #ed4014;
    border-color: #ed4014;
}


.ivu-btn-disabled {
    color: #fff;
    background-color: #c5c8ce;
    border-color: #c5c8ce;
}





.mask{background:#666666; opacity:0.4;}
.dialog_body{width:100%; height:100%; border:1px solid #999999; background-color:#ffffff;}
.dialog_top{background-color:#555555; color:#ffffff; padding:5px; font-size:12px;}
.dialog_main{text-align:center; height:55px; padding-top:40px; color:#333333;}
.dialog_bottom{padding:30px 15px; color:#333333;}
.dialog_bottom span{float:right;}

.ivu-table{
	border-top: 1px solid #e8eaec;
	border-left: 1px solid #e8eaec;
}
/*模态框*/

.modle-div{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5);
	transition: all 2s;
	font-size: 14px;
	color: #515a6e;
	overflow: auto;
}
.modle-body{
	width: 500px;
	min-height: 300px;
	background: white;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	margin-top: 5%;
}
.modle-head{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #dcdee2;
	position: relative;
}
.p-cancel{
	width: 20px;
	height: 20px;
	line-height: 17px;
	font-size: 12px;
	text-align: center;
	border-radius: 20px;
	border: 1px solid #dcdee2;
	position: absolute;
	right: 15px;
}
.p-cancel:hover{
	cursor: pointer;
}
.modle-bottom{
	width: 100%;
	height: 50px;
	border-top: 1px solid #dcdee2;
}
.cancel-but{
	padding: 5px 15px 5px;
	border: 1px solid #dcdee2;
	border-radius: 5px;
	background: white;
	transition: all .5s;
	font-size: 12px;
	color: #515a6e;
	margin-right: 15px;
}
.modle-content{
	width: 100%;
	font-size: 12px;
	color: #515a6e;
	padding: 10px;
}
.ok-but{
	padding: 5px 15px 5px;
	border: 1px solid #2b85e4;
	border-radius: 5px;
	background: #2b85e4;
	transition: all .5s;
	font-size: 12px;
	color: white;
}





.form-model {
	width: 500px;
	margin: auto;
}

.form-model-div {
	width: 95%;
	height: 55px;
}

.form-p {
	font-size: 12px;
	color: #464c5b;
	font-weight: bold;
	margin-right: 10px;
}

.form-span {
	content: '*';
	color: red;
	margin-right: 5px;
}
.form-input-parent{
	width: 100%;
	position: relative;
}

.form-message{
	font-size: 12px;
	letter-spacing: 1px;
	color: red;
	position: absolute;
	top: 100%;
	left: 0;
	padding-top: 2px;
	font-family: Small Head;
}

.form-input-parent{
	width: 30%;
}






